@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html {
  background-color: $white;
  font-family: 'Lato';
}
h1 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
}
.head {
  text-align: center;
  padding: 12vh;
}
.first-step {
  padding-right: 25px;
}
.third-step {
  padding-right: 25px;
}

.third-pic-container,
.second-pic-container,
.first-pic-container {
  p {
    padding-left: 35px;
  }
  text-align: center;
}

.navbar-toggle {
  background-color: transparent;
  border: none;
}

.active {
  border-bottom: #f48a2c solid 2px;
}
.nav-item {
  margin-right: 2vw;
}
.nav-link {
  color: #62697a;
}

p {
  color: black;
}
.nav-item{
  font-size: 16px;
}
.first-p-container {
  margin-top: 10px;
}

.step-one-p {
  text-align: center;
}

.second-p-container {
  margin-top: 10px;
}

.step-three-p {
  text-align: center;
}

.third-p-container {
  margin-top: 20px;
}

.step-two-p {
  text-align: center;
}

.step-container {
  text-align: center;
 margin: 0;
}

.sub-header {
  margin-top: 25px;
}

/* when the screen size goes below 374 px... */
@media (max-width: 374px) {
  .navbar-toggler {
    display: none;
  }
}

@media (min-width: 320px) {
  .small-sub-header {
    display: none;
  }
}

@media (max-width: 320px) {
  .main-header {
    display: none;
  }
  .sub-header {
    display: none;
  }
  .small-sub-header {
    display: inline-block;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;
  }
}

@media (max-width: 576px) and (min-width: 400px) {
  .first-step {
    padding-right: 25px;
  }
  .third-step {
    padding-right: 25px;
  }
  .first-pic-container {
    text-align: center;
  }

  .second-pic-container {
    text-align: center;
  }
  .third-pic-container {
    text-align: center;
    border: 10px solid rebeccapurple;
  }
}

@media (min-width: 970px) {
  .container-fluid {
    width: 970px;
  }
}
