<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Schedule Builder</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="about.scss">
</head>
<body>

  <div class ="container-fluid">
    <div class="head">
      <h1 class=""> Class registration doesn't have to be this hard. </h1>
      <p class= " "> Class registration is an incredible hassle for all students. We know that students are busy and don't want to waste time
                     looking for classes, deciding what to take, and finding times to take them.
                     That's why we made Schedule Builder. With Schedule Builder, students can easily have schedules built for them. </p>

      <p class=" "> Schedule Builder started as a CS224 project and has now turned into a full web application. We hope to continue to
                    add more schools and features to Schedule Builder. If you have any questions, business inquiries, or any features that you would love to
                    see on Schedule Builder feel free to send us an email at <a class="email" href="mailto:hello@schedulebuilder.com"> hello@schedulebuilder.io </a> </p>

      <p class=" "> If you love using Schedule Builder, send us some eth at: 0xB97CF0B13275E14877297874c233CD0bdfe9a148 </p>
    </div>

  </div>





</body>
</html>
