<div class="row">
  <div class="col-sm-8 genpanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Schedule</h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="col-sm-4 classpanel">
    <div class="panel panel-default">
      <div class="panel-heading">
         <angucomplete-alt id="ex1"
              placeholder="Search classes"
              selected-object="addUserClasses"
              selected-object-data="selectedClass"
              local-data="allClasses"
              search-fields="Title,Subject,Course"
              title-field="Title"
              description-field="Subject"
              clear-selected="True"
              minlength="3"
              input-class="form-control form-control-small">
              </angucomplete-alt>
      </div>
      <div class="panel-body">
        <ul>
          <li ng-repeat="classes in userClasses">{{Title}}</li>
        </ul>
      </div>
    </div>
    <button type="button" style="width: 100%;" class="btn btn-success">Generate Schedules</button>
  </div>
</div>
