<div class="row">
  <div class="col-sm-8 genpanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Schedule</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-sm-4 classpanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Type to Search</h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
    <button type="button" style="width: 100%;"class="btn btn-success">Generate Schedules</button>
  </div>
</div>
