<div class="row">
  <div class="col-sm-4 classpanel">
    <div class="panel panel-default">
      <div class="panel-heading" >
        <angucomplete-alt id="ex1" placeholder="Search classes" selected-object="addUserClasses" selected-object-data="selectedClass"
          local-data="allClasses" search-fields="Title,Subject,Course" title-field="Title" description-field="Subject" clear-selected="True"
          minlength="3" input-class="form-control">
        </angucomplete-alt>
      </div>
      <div class="panel-body">
        <ul class="class-ul">
          <li ng-repeat="class in userClasses">
            <p class="col-lg-9">{{class.title}}, {{class.originalObject.Subject}} {{class.originalObject.Course}}</p>
            <button type="button" class="btn btn-danger btn-xs col-lg-2 col-lg-offset-1" ng-click="removeClass(class)">X</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5"><button type="button" style="width: 100%;" class="btn btn-danger btn-lg" ng-click="clearAll()">Clear All</button></div>
      <div class="col-lg-7"><button type="button" style="width: 100%;" class="btn btn-success btn-lg" ng-click="generateSchedule(userClasses)">Generate Schedules</button></div>
    </div>
  </div>
  <div class="col-sm-8 genpanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="text-align:center;">Schedule</h3>
      </div>
      <div class="panel-body">
        <div ng-repeat="v in viableSchedules">
          <div ng-repeat="c in v">
            <div>{{c.Times}} - {{c.Class}} - {{c.Title}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
