<div class="">
    <div class="">
        <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-bold">{{classInformation.Title}}</h4>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> -->
        </div>
        <div class="modal-body mx-3">
            <p>Days: {{classInformation.Days}}</p>
            <p>Time: {{classInformation.Times}}</p>
            <p>Instructor: {{classInformation.Instructors}}</p>
            <p>Location: {{classInformation.Building}}  {{classInformation.Room}} </p>
            <p>CRN: {{classInformation.CRN}}</p>
            <p>Credits: {{classInformation.Credits}}</p>
        </div>
    </div>  
</div>