

    <div class = "container">
        <div class="text-center" style="margin-top: 100px">
            <h1 class=""> We know that class registration is a hassle. </h1>
            <h1 class="" style="margin-top: 25px"> <small>Let Schedule Builder help!</small> </h1>
        </div>


        <div class="container" style="margin-top: 75px">
            <div class="row" style="margin-left: 50px; margin-top: 25px">

                <div class="col-sm-4">
                    <img class="first-step" style="margin-left: 10px" src="https://i.imgur.com/WvXJRDB.png" alt="firstpic">
                    <div class= "row">
                        <div class="col-sm-12 col-md-12 col-lg-10" style="margin-top: 10px">
                            <p class="step-one-p text-center"> Enter the classes you are looking to take for next semester! </p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <img class="second-step" style="margin-left: 25px;" src="https://i.imgur.com/i0OkaWC.png" alt="secondpic">
                    <div class= "row">
                        <div class="col-sm-12 col-md-12 col-lg-11 " style="margin-top: 10px">
                            <p class="step-two-p text-center"> Schedule Builder will get right to work and create all possible schedules for you!</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <img class="third-step text" style="margin-left: 25px;" src="https://i.imgur.com/AB0GN5b.png" alt="thirdpic">
                    <div class= "row">
                        <div class="col-sm-12 col-md-12 col-lg-10 " style="margin-top: 20px">
                            <p class="step-three-p text-center"> Check out various schedules, and decide which one works best for you!</p>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
