

    <div class = "container-fluid header-container" style="padding-top: 25px;">

        <div class="row justify-content-md-center">
            <div class="col-sm-8 " style="text-align: center;">
                <h1 class="h1-responsive"> We know that class registration is a hassle. </h1>
                <h3 class="h3-responsive">Let Schedule Builder help!</h3>
            </div>
        </div>


        <!-- <div class="container-fluid step-container pull-right"> -->
            <div class="row">

                <div class="col-sm-4 col-md-4">
                    <img class="first-step" src="https://thumb.ibb.co/i847s5/step1image.png" alt="firstpic">
                    <div class= "row">
                        <div class="col-sm-12 col-md-12 col-lg-10 first-p-container">
                            <p class="step-one-p"> Enter the classes you are looking to take for next semester! </p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4 col-md-4">
                    <img class="second-step" src="https://i.imgur.com/iM40xEz.png" alt="secondpic">
                    <div class= "row">
                        <div class="col-sm-12 col-md-12 col-lg-11 second-p-container">
                            <p class="step-two-p"> Schedule Builder will get right to work and create all possible schedules for you!</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4 col-md-4">
                    <img class="third-step" src="https://thumb.ibb.co/g6EOX5/step3image.png" alt="thirdpic">
                    <div class= "row">
                        <div class="col-sm-12 col-md-12 col-lg-10 third-p-container">
                            <p class="step-three-p"> Pick your ideal schedule, check out our schedule ratings, and share it with your friends!</p>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>